Django==4.1

django-environ
python-decouple

django-cors-headers
djangorestframework
djoser
social-auth-app-django

django-ckeditor
pytz
Pillow
mutagen

psycopg2
argon2-cffi

braintree==4.17.1
pyJWT==2.6.0

boto3
django-storages

markdown
gunicorn
whitenoise

requests